/* Modern Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
  margin-top: 16px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(214, 210, 210);
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border-radius: 8px;
  margin-right: 8px;
}

/* #root {
  display: grid;
  grid-template-columns: 400px 1fr;

  font-family: sans-serif;
} */
/* .center {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
} */
.light-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.08);
}
.center {
  border: 1px solid rgb(235, 225, 225);
  border-radius: 4px;
  padding: 8px;
}
.right-aside {
  border: 2px solid balck;
}
.header{
  text-align: center;
  background-color: rgb(130, 175, 85);
}
.header h1 {
  width: auto;
  color: yellow;
  /* background-color: rgb(204, 95, 95); */
}

.three-column-grid-expand-center {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 16px;
}
.child-list-border {
  border: 1px solid rgb(235, 225, 225);
  border-radius: 8px;
  padding: 8px;
}

.list-section {
  height: auto;
  padding: 2rem 1rem;
  overflow-y: hidden;
}
.list-of-child-header h2 {
  width: auto;
  height: auto;
  border: 2px solid black;
  border-radius: 6px;
  text-align: center;
  padding: 2px;
}
.list-of-child {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 8px;
}
.list-of-child button {
  width: auto;
  height: auto;
  background-color: rgb(130, 175, 85);
  margin-top: 12px;
  border-radius: 6px;
  color: rgb(236, 236, 73);
}
.form-stack > * + * {
  margin-top: 0.5rem;
}

.form-stack > label {
  display: block;
}

.form-stack > input {
  width: auto;
}
.margin-top {
  margin-top: 8px;
}
.form-one-btn button:hover {
  padding: 6px;
  background-color: gray;
  font-size: medium;
}
.final-submit {
  width: auto;
  margin-top: 12px;
  margin-bottom: 16px;
  padding: 4px;
  border-radius: 8px;
  color: rgb(17, 4, 4);
}
.final-submit:hover {
  width: auto;
  background-color: red;
  color: white;
  margin-top: 12px;
  padding:6px;
  border-radius: 10px;
  font-size: medium;
}
.create-to-apply {
  margin-top: 16px;
  width: auto;
  height: auto;
  background-color: rgb(130, 175, 85);
  border-radius: 6px;
  color: yellow;
}

.delete-btn {
  margin-top: 16px;
  width: auto;
  height: auto;
  background-color: rgb(130, 175, 85);
  border-radius: 6px;
  color: yellow;
}
.delete-btn:hover {
  width: auto;
  height: auto;
  background-color: rgb(129, 13, 13);
  border-radius: 6px;
  color: yellow;
}
.child-center {
  max-width: 120ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}